<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Path to coherence</h2>
                <hr class="light">
                <p class="text-faded">We train our bodies and mind to achieve structural integrity and functional breathing through strength training, spinal decoaptation stretching and breath work. We combine these 3 modalities in order to improve daily living or master new physical skills such as martial arts.</p>
          
            </div>
        </div>
    </div>
</section>
